@charset 'utf-8';
// base-pc
//////////////////////////////////////
html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	line-height: 1;
	color: $color-base;
	font-size: 1.4rem;
	font-family: $font-family;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
