@charset "utf-8";

// color
$color-base: #222;
$color-link: #005fee;
$color-blue: #005dab;
$color-orange: #ff6319;
$color-green: #00933c;
$color-red: #ee352e;
$color-gold: #fed90c;
$color-lightGrey: #e9ecf1;

// width
$width-wide: 1634px;
$width-base: 1280px;
$width-small: 980px;

// font-family
$font-family: "游ゴシック体","Yu Gothic",YuGothic,"Helvetica Neue",Helvetica,Arial,sans-serif;

// font-size
$font-size-base: 14;
